/* src/components/LandingPage.css */

.landing-page {
    text-align: center;
    color: #fff;
    position: relative;
    height: 100vh; /* Assure-toi que la page couvre toute la hauteur de la fenêtre */
  }
  
  .background-image {
    background-image: url('../assets/images/background.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Assure que l'image de fond est derrière le texte */
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 20%;
  }
  
  p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .get-started-btn {
    background-color: #4CAF50; /* Exemple de couleur de bouton */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .get-started-btn:hover {
    background-color: #45a049; /* Changement de couleur au survol */
  }
  /* src/components/LandingPage.css */

.landing-page {
    text-align: center;
    color: #fff;
    position: relative;
    height: 100vh; /* Assure-toi que la page couvre toute la hauteur de la fenêtre */
  }
  
  .background-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Assure que l'image de fond est derrière le texte */
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 20%;
  }
  
  p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .get-started-btn {
    background-color: #4CAF50; /* Exemple de couleur de bouton */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .get-started-btn:hover {
    background-color: #45a049; /* Changement de couleur au survol */
  }
  